@import 'src/sass/colors';
@import 'src/sass/fonts';

@mixin background1() {
  background: rgba(236, 240, 241, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin button() {
  cursor: pointer;
}

@mixin display-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow() {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
